package layout

import "cshop-website/model"
import "cshop-website/utils"

templ Footer(lang string, content model.Content) {
    <div class="footer-container">
        <p class="footer-text">
           { utils.CurrentYear(content) }
        </p>
        <div class="footer-links-space">
            <a href={ "/" + lang + "/terms" }>{ content.FooterTerms }</a>
            <a href={ "/" + lang + "/privacy" }>{ content.FooterPrivacy }</a>
        </div>
    </div>

}